.html#html.html#html.html#html.html#html.html#html.html#html.html#html{
    color: rgb(34, 197, 61);
}

#html{
    color: rgb(95, 164, 106);
}
body{
    color: yellowgreen;
}

ul{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}