.html {
  color: lab(53.23% 80.11 67.22);
}

.css {
  color: #0000ff;
}

.java {
  color: skyblue;
}

.react {
  color: aquamarine;
}

.tail {
  color: blueviolet;
}

li {
  font-weight: 600;
}

p:hover {
  color: rgb(60, 18, 245);
}
